# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/planeta?schema=public"

# NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3456"

# AI
ANTHROPIC_API_KEY=""

# Redis (Upstash)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Meilisearch
MEILISEARCH_URL="http://localhost:7700"
MEILISEARCH_API_KEY=""

# Public
NEXT_PUBLIC_APP_URL="http://localhost:3456"
